/*
.bodyRow{
    padding-top:54px;
}
.submitLabel {
    font-weight : 700;
    position : relative;
    top: -10px;
}

.uploadButton {
    float : right;
}

.description {
    text-align: center;
    font-weight: 700;
    font-size: 120%;
}

.petName{
    font-size:150%;
    font-weight: 700;
}

.filter{
    height:100%;
    padding:1%;

}

.filterRow{
    padding:10px;
}

#filterLabel{
    font-size:140%;
}

.noSideMargins{

    padding-left:0px;
    margin-left:0px;
    margin-right:0px;
    width:100%;
}

.row{
    margin-top:1px;
    margin-left:0px;
    margin-right:0px;
}

.waterFallRow{
    width:100%;
    padding:1%;
    margin:1%;
    border: 3px solid;
    border-color: #269abc;
}

.waterFallColumn{
}

.petName{
}
.petDescription{
    text-wrap: normal;
    font-size: 120%;
}

.petImage{
    width:100%;
}

.loginGroup{
    padding:10px; 
    float:right; 
}

.petBasketGif{
    float:right; 
    width:30px; 
    height:30px;
}

.customNavBarBrand{
    padding-left:20%;
    font-size: 200%;
}

.floatLeft{
    float:left;
}
*/